<div class="footer bg-info">
    <div fxLayoutAlign="space-between center">
        <div>
            <p>&copy; 2020 Julio C&eacute;sar Melchor Pinto</p>
        </div>
        <div>
            <p>Share this page:</p>
            <a mat-icon-button target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https://catsapp.web.app/gif">
                <fa-icon [icon]="facebook" size="2x"></fa-icon>
            </a>
            <a mat-icon-button target="_blank" href="https://twitter.com/intent/tweet?url=https://catsapp.web.app/gif">
                <fa-icon [icon]="twitter" size="2x"></fa-icon>
            </a>
            <a mat-icon-button href="whatsapp://send?text=Los mejores gifs de gatos https://catsapp.web.app/gif"
                data-action="share/whatsapp/share">
                <fa-icon [icon]="whatsapp" size="2x"></fa-icon>
            </a>
        </div>
    </div>
</div>
