<header>
    <mat-toolbar [class.mat-elevation-z8]="true">
        <mat-toolbar-row fxLayoutAlign="space-between center">
            <div fxLayout="row">
                <button mat-button class="brand" [routerLink]="['/']">
                    <fa-icon [icon]="cat"></fa-icon>&nbsp;Catsapp
                </button>
                <!--buttons disappear on Xs devices-->
                <div *ngIf="!deviceXs" fxLayout="row">
                    <button mat-button [routerLink]="['breeds']">List</button>
                    <button mat-button [routerLink]="['gif']">Roulette</button>
                    <button mat-button [routerLink]="['game']">Game</button>
                </div>
                <!---->
            </div>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                    fxLayoutAlign="end">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
        <!--mat-toolbar-row displayed on Xs devices-->
        <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between center">
            <button mat-button [routerLink]="['breeds']">List</button>
            <button mat-button [routerLink]="['gif']">Roulette</button>
            <button mat-button [routerLink]="['game']">Game</button>
        </mat-toolbar-row>
        <!---->
    </mat-toolbar>
    <!-- Menu Items -->
    <mat-menu #menu="matMenu" fxLayoutAlign="end">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    <!---->
</header>
